body{
  background-color: #536DFE;
  color: white;
}

#main-heading{
  text-align: center;
  margin: 30px;
}

#cube{
  width: auto;
  height: 200px;
  margin: auto;
  display: block;
  margin-bottom: -2px;
}

#submit, #reverse{
  background-color:#4251A8 ;
  color: white;
  width: 100%;
  transition: .3s;
}

#submit:hover, #reverse:hover{
  background-color:#2E2A6D;
}

#results {
  display: none;
  margin-top: 30px;
  border-radius: 5px;
  width: 82.5%;
  background-color: white;
  color:#4251A8;
  padding: 30px;
}

#reverse{
  display: none;
}
.error{
  border: 3px solid red;
}